<body>
                <div class="container"  > 
                                <div id="div">
                                <div [formGroup]="signupform">
                                                <div class="form-group row">
                                                        <label for="inputEmail3" class="col-sm-2 col-form-label" requried = 'true'>
                                                            <b>Name</b>
                                                        </label>
                                                        <div class="col-sm-10">
                                                          <input type="text" class="form-control" id="inputEmail3" placeholder="name" formControlName="name" >
                                                        </div>
                                                        <div class="hh" >
                                                                <span  *ngIf="signupform.controls['name'].errors && signupform.controls['name'].touched">* name is mandatory </span>
                                                            </div>
                                                      </div>
                                                      <div class="form-group row">
                                                                <label for="inputEmail3" class="col-sm-2 col-form-label" >
                                                                    <b> E mail</b>
                                                                </label>
                                                                <div class="col-sm-10">
                                                                  <input type="text" class="form-control" id="inputEmail3" placeholder="name" formControlName="email" >
                                                                </div>
                                                                <div class="hh" >
                                                                        <span  *ngIf="signupform.controls['email'].errors && signupform.controls['email'].touched">* Email must be a valid email address</span>
                                                                    </div>
                                                              </div>
                                                              <div class="form-group row">
                                                                        <label for="inputEmail3" class="col-sm-2 col-form-label" >
                                                                            <b> mobile number</b>
                                                                        </label>
                                                                        <div class="col-sm-10">
                                                                          <input type="text" class="form-control" id="inputEmail3" placeholder="mobile number" formControlName="mobilenumber" >
                                                                        </div>
                                                                        <div class="hh" >
                                                                                <span  *ngIf="signupform.controls['mobilenumber'].errors && signupform.controls['mobilenumber'].touched">* mobile number is mandatory with 10 numbers</span>
                                                                            </div>
                                                                      </div>
                                                     
                                    
                                    
                                                      <div class="form-group row">
                                                        <label for="inputPassword3" class="col-sm-2 col-form-label"><b>Password</b></label>
                                                        <div class="col-sm-10">
                                                          <input type="password" class="form-control" id="inputPassword3" placeholder="Password" formControlName="password">
                                                        </div>
                                                        <div class="hh" >
                                                                <span  *ngIf="signupform.controls['password'].errors && signupform.controls['password'].touched">* fill the password textbox mandatory </span>
                                                            </div>
                                                      </div>
                                                      <div class="form-group row">
                                                            <div class="col-sm-10">
                                                                    <button class="btn btn-secondary"  (click)="register()"[disabled]="!signupform.valid">Login</button> 
                                                            </div>
                                                          </div>
                                                         </div>
                                                    </div>
                                    
                                    
                        
                     </div>
</body>