<div class="navbar" >
  <b style="color: white;"><i class="fa fa-fw fa-home"></i> hai {{bb}}</b>
    <a routerLink="calender"><i class="fa fa-calendar"></i> calender</a> 
    <a routerLink="cart"><i class='fas fa-cart-arrow-down'></i> cart</a> 
    <button class="btn btn-warning" (click)="logout()"> logout</button>
    
  </div>
  
  <a routerLink="addproduct"><h1 id="qq"><i class='fas fa-cart-arrow-down' style='font-size:36px'></i> 
    addproducts</h1> </a>
  <h1 id="qq1"> <i class='far fa-caret-square-right' style='font-size:36px'></i> on vacation</h1>